// fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,400');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,400,500');

// font families
$sans-fonts: "IBM Plex Sans", helvetica, arial, sans-serif;
$sans-condensed-fonts: "IBM Plex Sans Condensed", helvetica, arial, sans-serif;
$serif-fonts: "IBM Plex Serif",  georgia, times, serif;
$monospace-fonts: "IBM Plex Mono", monospace;

// common values
$animationRate: 0.07s;
$backgroundColor: #828B8D;
$pageBackground: darken($backgroundColor, 33%);
$highlightColor: #fdf37d;
$quietTextColor: #bee4c6;
$grey: #6B7678;

// animations
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes pulse {
    0%,40%,to{
        opacity:1
    }
    20%{
        opacity:0
    }
}

// setup and resets
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  margin:0;
  padding:0;
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  font-family: $sans-fonts;
  background: darken($backgroundColor, 33%);
  margin: 0;
  padding: 0;
  overflow:hidden;
  height: 100%;
}
section {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}
.header-with-chart {
  position: absolute;
  top: 0px;
  left: 50vw;
}

// project title
h1 {
  display: block;
  color: #ddd;
  font-family: $sans-condensed-fonts;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
  .heading-bold {
    font-weight: 500;
  }
}
p {
  font-weight: 400;
}
button {
  background: transparent;
  border: 2px solid #828B8D;
  padding: 15px 19px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  color: #828B8D;
  cursor: pointer;
}
.change  {
  position: absolute;
  top: 20px;
  right: 200px;
  z-index: 2000;
  &:focus {
    outline: 0;
  }
}

// maps
svg {
  border: none;
}
path {
  fill: #fff;
}
path:hover {
  cursor: pointer;
}
.town {
  transition: all $animationRate ease;
  vector-effect: non-scaling-stroke;
}
.unranked-town {
  stroke-width: 1;
  stroke: #6C7779;
  transition: all $animationRate ease;
  .hide-unranked & {
    opacity: 0;
    transition: all $animationRate ease;
  }
  &:hover {
    cursor: default;
  }
}
.ranked-town {
  stroke: $backgroundColor;
  stroke-width: 0.25;
  transition: all $animationRate ease;
}
.ranked-town.active {
  opacity: 1;
  fill: #fff !important;
  transition: all $animationRate ease;
}
.app-container {
  position: relative;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

// scaling svg
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
}
.ma-towns,
.states {
  width: 1000px;
  height: 2000px;
}
.states {
  border: none;
  stroke: darken($backgroundColor, 33%);
  stroke-width: 1.5;
  path {
    border: 0;
  }
}

.school-gradient {
  background: linear-gradient(0.25turn, #f2dab9,#f2d6b7,#f3d2b5,#f3cfb3,#f4ccb0,#f4c8ae,#f4c4ac,#f4c0aa,#f5bda8,#f5b9a5,#f5b6a4,#f5b1a1,#f5ad9f,#f5aa9d,#f5a69b,#f5a299,#f59e97,#f59b95,#f59792,#f49391,#f48f8e,#f48b8c,#f4868a,#f38388,#f37f86,#f37b84,#f27782,#f27280,#f16d7e,#f1697c,) !important;
}

// loading labels
.loading {
  font-size: 24px;
  font-weight: 400;
  color: #888;
  text-align: center;
  margin: 100px auto;
}

// town details
.town-details {
  width: 650px;
  margin: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #6B7678;
  .town-name {
    flex-grow: 1;
    margin: 0 0 10px 0;
    font-family: $serif-fonts;
    font-size: 46px;
    line-height: 1;
    color: #fff;
    font-weight: 300;
    font-style: normal;
  }
  .town-detail {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    flex-basis: 85px;
    .label,
    .value {
      line-height: 1;
      width: 85px;
      display: block;
    }
    .label {
      padding-top: 2px;
      line-height: 1.3;
      font-family: $sans-condensed-fonts;
      font-size: 14px;
      color: #6b7779;
      text-transform: uppercase;
    }
    .value {
      color: #fff;
      font-family: $monospace-fonts;
      font-size: 24px;
    }
  }
}

// town details and price/rank chart variations for smaller screens
@media only screen and (max-width: 1310px) {
  .header-with-chart {
    left: auto;
    right: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .ma-towns,
  .states {
    margin-top: -40px;
    margin-left: -110px;
  }
}
// smaller screens
@media only screen and (max-width: 1120px) {
  h1 {
    margin-top: 80px;
  }
  .header-with-chart {
    left: 55vw;
    right: auto;
    background-color: rgba(49, 53, 54, 0.8);

  }
  .rank-price-chart {
    display: none;
  }
  .town-details {
    min-width: 350px;
    width: calc(40vw - 20px);
    flex-direction: column;
    border-bottom: none;
    .town-name {
      margin-top: 20px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #6B7678;
    }
    .town-detail {
      padding-left: 0px;
      flex-basis: 60px;
    }
  }
}

// school-rank-legend
.school-rank-legend {
  z-index: 100;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(49, 53, 54, 0.7);
  padding: 15px 20px;
  width: 300px;
  p {
    margin: 0 0 4px 0;
    font-family: $sans-condensed-fonts;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #D9DDDE;
  }
  .school-gradient {
    height: 14px;
  }
  .legend-labels {
    margin-top: 4px;
    font-family: $sans-condensed-fonts;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: lighten(#718083, 15%);
  }
  .right-label {
    float: right;
  }
}

// Rank vs Value scatter plot
.rank-price-chart {
  background-color: rgba(49, 53, 54, 0.85);
  circle {
    fill: transparent;
    stroke-width: 1px;
    stroke: $grey;
    &.highlight,
    &.highlight:hover {
      z-index:1000;
      fill: #fff;
      cursor: pointer;
      stroke: #fff;
      transition: all 0.3s ease;
    }
    &:hover {
      cursor: pointer;
      fill: $grey;
    }
  }
  text {
    fill: $grey;
    font-family: $sans-condensed-fonts;
    font-weight: 400;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    shape-rendering: crispEdges;
  }
  .cross-line {
    stroke-width: 0.5px;
    stroke: rgba($grey, 0.6);
  }
}
.x-axis {
  text{
    font-family: $monospace-fonts;
    font-weight: 100;
    font-size: 13px;
    &:first-child {
      margin-left: 2px;
    }
  }
  path,
  .tick,
  line {
    stroke: $grey;
    fill: none;
  }
}

// LOADER . . .
.loader {
  position: absolute;
  top: 48%;
  left: 49%;
  margin: 0 auto;
  width: 36px;
  height: 6px;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    background-color: #eee;
    height: 100%;
    width: 6px;
    border-radius: 50%;
    animation: pulse 1.2s infinite cubic-bezier(.645,.045,.355,1);
    &:nth-child(2) {
      animation-delay:-1.1s
    }
    &:nth-child(3) {
      animation-delay:-1s
    }
  }
}

// shared tooltip
.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px 12px;
  font-size: 16px;
  font-family: $serif-fonts;
  font-weight: 400;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0;
  background: lighten($grey, 10%);
  color: darken($pageBackground, 20%);
}

// sources footer
footer {
  position: absolute;
  bottom: 0px;
  right:0px;
  padding: 10px 20px;
  width: 525px;
  text-align:right;
  font-family: $sans-fonts;
  font-size: 12px;
  background-color: rgba(49, 53, 54, 0.8);
  opacity: 0.8;
  &,
  a,
  a:visited {
    color: #99a5a7;
  }
}
